body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.buttons button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.buttons button:hover {
  background-color: #e0e0e0;
}
.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 40px;
  height: 30px;
}
th {
  background-color: #f2f2f2;
}
.name {
  width: 300px;
}
.name-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-buttons {
  display: flex;
  margin-left: 70px;
  gap: 20px;
}
.footer-buttons button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-buttons button:hover {
  background-color: #e0e0e0;
}
.score-select {
  width: 100%;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}
.score-select option {
  text-align: center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}
