.container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
.positive {
  color: green;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
}

.input {
  letter-spacing: 5px;
}
.button {
  background-color: #3358ff;
  justify-content: center;
  width: 200px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}
.removeButton {
  background-color: #e44b4b;
  justify-content: center;
  width: 200px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}
.buttons {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.positiveInput {
  color: green;
  font-size: 20px;
}

.negativeInput {
  color: red;
}

.defaultInput {
  background-color: black;
}
.greenButton {
  background-color: green;
  color: white;
  width: 200px;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
}

.redButton {
  background-color: red;
  color: white;
  width: 200px;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
}
