.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  gap: 10%;
}
input {
  text-align: center;
}
.form {
  padding: 20px 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.form input:focus {
  border-color: #007bff; /* Цвет рамки при фокусе */
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}

.success {
  color: #28a745;
  margin-bottom: 10px;
}

.photoGroup {
  width: 70%;
}
