/* Subject.module.css */
.body {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000; /* Optional: Change heading color if needed */
}

.subject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #fff; /* Make text color white */
  font-size: 18px;
  width: 70%;
}

.subject i,
.subject img {
  margin-right: 10px;
}

.subject.green {
  background-color: #34d399;
}
.subject.blue {
  background-color: #3b82f6;
}
.subject.orange {
  background-color: #fbbf24;
}
.subject.lightblue {
  background-color: #60a5fa;
}
.subject.purple {
  background-color: #a78bfa;
}
.subject.brown {
  background-color: #d97706;
}
.subject.teal {
  background-color: #2dd4bf;
}
.subject.red {
  background-color: #ef4444;
}

.backArrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
