h1,
h2,
h3,
p,
a,
button {
  font-family: Comfortaa;
}

/* Fonts */
@font-face {
  font-family: "Comfortaa";
  src: url(./assets/fonts/static/Comfortaa-Bold.ttf);
}
@font-face {
  font-family: "Comfortaa";
  src: url(./assets/fonts/static/Comfortaa-Light.ttf);
}
@font-face {
  font-family: "Comfortaa";
  src: url(./assets/fonts/static/Comfortaa-Regular.ttf);
}

